@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    background: url(./image/background.jpg) no-repeat 20% center fixed; 
    background-color: #1717B5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    overflow-x: hidden;
}

#title-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    transform: rotate(-5deg);
    color: #c8f0fa;

}

#title p{
    text-align: center;
    font-weight: 100;
    margin: 30px 0 0 0;
    font-size: 5vw !important;
}

h1{
    font-size: 20vw;
    z-index: -50;
    line-height: 01.0em;
    filter: drop-shadow(0 0 150px rgb(0 0 0));
    margin: 0;
}



@media screen and (min-width: 770px) {
    h1 {
       font-size: 160px;
    }
}

h2 {
    font-size: 2.3em;
}

h3{
    font-size: 1.3em;
}

p {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: #1717b5;
}

#soundcloud{
    margin-top: 30px;
}



#logo_container, #backhome_container {
    position: fixed;
    right: 20px;
    top: 8px;
    z-index: 300;
}

#backhome_container{
    left: 20px;
    right: auto !important;
    width: 160px;
}
#backhome_container p{
    opacity: 0.7;
}


#logo_container img {
    position: relative;
    width: 50px;
    height: 50px;
}

#backhome_container img{
    float: left;
    left: 0;
}

#logo_container .logo-icon-container{
    position: relative;
    right: 0px;
    float: right;
    background-color: rgb(241, 239, 235);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#logo_container img{
    filter: invert(16%) sepia(80%) saturate(6245%) hue-rotate(245deg) brightness(68%) contrast(116%);
}

#logo_container a, #backhome_container a{
    opacity: 0.9;
}

#logo_container a:hover, #backhome_container a:hover{
    opacity: 1.0;
}

#content_container {
    position: absolute;
    width: 100%;
    min-width: 400px;
    min-height: 500px;
    left: 0;
    padding: 40px 0 40px 0;
    top: 800px;
    background-color: rgb(226 223 219 / 95%);
    color: #1717b5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inner_content_container {
    width: 800px;
}

#content_background {
    opacity: 0.9;
}

#content_left {
    display: inline-block;
    left: 50%;
    width: 400px;
    position: relative;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    padding-bottom: 30px;
}

#content_right {
    display: inline-block;
    float: left;
    left: 50%;
    width: 400px;
    height: auto;
    position: relative;
    padding-bottom: 70px;

}

#text_right {
    margin-bottom: 20px;
}



#content_container_arrow {
    top: -54px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 30;
}


#content_container_arrow img{
    width: 50px;
    height: auto;
}

#content_container_arrow a {
    opacity: 0.9;
}

#content_container_arrow a:hover {
    opacity: 1.0;
}

.cleardiv {
    clear: both;
}

.center_content {
    text-align: center;
}

.button {

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    padding: 16px 31px;
    text-decoration: none;

}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.button:active {
    position: relative;
    top: 1px;
}


#background_novideo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: url(./image/background_tiedrei.jpg) no-repeat center center fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 body {
        /*background: url(./image/background_tiedrei.jpeg) no-repeat center center fixed;*/


        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

.spacer{
    width: 100%;
    height: 80px;
    clear: both;
}

 /* lyrics_part */
.background_color_only{
    background: rgb(240, 242, 232) !important;
}

.texte_content_top{
    top: 60px !important;
}

#banner_end{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#banner_end img{
    width: 800px;
    margin-left: calc(50% - 400px);
}
.white_background{
    position: relative;
    width: 100%;
    background-color: white;

}

.responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    height: 0;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.detailtext{
    font-size: 1.2em;
}

#switch_sound_button{
    display: none;
}


@media print {
    /* print style sheets go here */
}


@media screen and (max-width: 900px) {
    body {
        background-attachment: scroll;
    }

    h2{
        margin-top: 2.23em;
    }

    .detailtext{
        margin: 40px 0;
    }

    #content_container {
        padding: 0;
    }

    #inner_content_container {
        padding: 0 30px 30px 30px;
    }

    #content_left {
        display: block;
        position: relative;
        width: 100%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        padding-bottom: 0;
    }

    #content_right {
        display: block;
        float: none;
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 0;
    }
    
    #banner_end{
        float: default;
        left: 0;
        width: 100%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    
    #banner_end img{
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-device-width: 480px) {
    #content_left {
        width: 100;
    }

    #content_right {
        width: 100;
    }
    
    #backhome_container p{
        display: none;
    }
}

@media screen and (orientation:portrait) {

    video#bgvid {
        background: none;
        display: none;
    }

   

    #switch_sound_button {
        display: none;
    }

}
